{% extends 'base.jinja2' %}

{% block title %}Shipyard {{shipyard.symbol}}{% endblock %}

{% block content %}
<h1>Shipyard {{shipyard.symbol}}</h1>
<div class="row">
    <h3>Ship types for sale</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Type</th>
            </tr>
        </thead>
        <tbody>
            {% for ship_type in shipyard.shipTypes %}
            <tr>
                <td>{{ship_type.type}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{{debug.debugger(shipyard)}}

{% endblock %}
