{% extends 'base.jinja2' %}

{% block title %}{{waypoint.symbol}}{% endblock %}

{% block content %}
<h1>{{waypoint.symbol}}</h1>
<h2><a href="/system/{{waypoint.systemSymbol}}">System</a></h2>
<div class="row">
    <h3>Waypoint details</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Type</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{waypoint.symbol}}</td>
                <td>{{waypoint.type}}</td>
            </tr>
        </tbody>
    </table>
    <h3>Traits</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            {% for trait in waypoint.traits %}
            <tr>
                {% if trait.symbol == "SHIPYARD" %}
                <td><a href="/shipyard/{{waypoint.symbol}}">{{trait.symbol}}</a></td>
                {% elif trait.symbol == "MARKETPLACE" %}
                <td><a href="/marketplace/{{waypoint.symbol}}">{{trait.symbol}}</a></td>
                {% else %}
                <td>{{trait.symbol}}</td>
                {% endif %}
                <td>{{trait.description}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if waypoint.orbitals %}
    <h3>Orbitals</h3>
    <ul>
        {% for orbital in waypoint.orbitals %}
        <li>
            <a href="/waypoint/{{orbital.symbol}}">{{orbital.symbol}}</a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if jumpgate %}
    <h3>Jump gate connected systems</h3>
    <p>range: {{jumpgate.jumpRange}}</p>
    {{debug.debugger(jumpgate)}}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Type</th>
                <th scope="col">Distance</th>
                <th scope="col">Co-ordinates</th>
            </tr>
        </thead>
        <tbody>
            {% for system in jumpgate.connectedSystems %}
            <tr>
                <td><a href="/system/{{system.symbol}}">{{system.symbol}}</a></td>
                <td>{{system.type}}</td>
                <td>{{system.distance}}</td>
                <td>{{system.x}}, {{system.y}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>

{{debug.debugger(waypoint)}}

{% endblock %}
