{% macro debugger(obj) %}
<button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseExample"
    aria-expanded="false" aria-controls="collapseExample">
    debug
</button>
<div class="collapse" id="collapseExample">
    <div class="card card-body">
        {{obj}}</div>
</div>
{% endmacro %}
